<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Пекарня Ессении{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <footer>    <!-- Подвал сайта -->
    <div class="footer">
        <h4 class="gorod"><a name="bottom">Москва</a></h4>
        <h5 class="contacts"><a name="bottom">8-495-777-77-77</a></h5>
        <h5 class="regim"><a name="bottom">Режим работы: пн-пт 9.00-18.00 | сб-вс 10.00-17.00</a></h5>
    </div>
    </footer>
</body>
</html>