<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/maffiny.jpg') }}" type="image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <!-- подключение файла стилей css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- здесь можно писать вместо модуля style.css -->
    <style>
    </style>
</head>
<body>

    <header>    <!-- ШАПКА САЙТА -->
    <div class="header">
        <h1>Пекарня Ессении</h1>
        <h2>Здесь готовятся вкуснейшие пекарные изделия</h2>
    </div>
    <div class="topnav">
        <a href="/home">Главная</a>
        <a class="info" href="">Доставка</a>
        <a class="info" href="/home#bottom">Контакты</a>
    </div>

    </header>

    <section class="content">
        <div class="rules">
            <div class="module-card">
                    <img class="near" src="{{ url_for('static', filename='images/torts.jpg') }}">
                    <h3><a href='/products' target="_blank">Торты</a></h3>
                    <p>Большая разновидность тортов, на любой праздник и торжество</p>
            </div>
            <div class="module-card1">
                <img class="module" src="{{ url_for('static', filename='images/maffiny.jpg') }}">
                <h3><a href='/maffiny' target="_blank">Маффины</a></h3>
                <p>Маффины это просто вкусный перекус для любого удобного брейка с кофем</p>
            </div>
            <div class="module-card2">
                <img class="fonts" src="{{ url_for('static', filename='images/pirogi.jpg') }}">
                <h3><a href='/pirogi' target="_blank">Пироги</a></h3>
                <p>Выбор пирогов для любого дня когда времени не хватает а хочется чего нибудь вкусного</p>
            </div>
            <div class="module-card3">
                <img class="colors" src="{{ url_for('static', filename='images/merenge.jpg') }}">
                <h3><a href='/merenge' target="_blank">Меренге</a></h3>
                <p>Прийдя в гости не с пустыми руками уже хорошо, красивые, вкусные по доступной цене.</p>
            </div>
        </div>
    </section>

    <footer>    <!-- Подвал сайта -->
    <div class="footer">
        <h4 class="gorod"><a name="bottom">Москва</a></h4>
        <h5 class="contacts"><a name="bottom">8-495-777-77-77</a></h5>
        <h5 class="regim"><a name="bottom">Режим работы: пн-пт 9.00-18.00 | сб-вс 10.00-17.00</a></h5>
    </div>
    </footer>
    <!-- подключение файла с js -->
    <!-- <script src="{{ url_for('static', filename='js/') }}"></script>-->
</body>
</html>