{% extends "base.html" %}
{% block content %}
{% for product in products %}
    <ul class="products clearfix">
        <li class="product-wrapper">
            <a class="product">
                <div class="product-photo">
                    <img src="{{ url_for('static', filename='images/torts.jpg') }}" alt="">
                    <h3>{{ product.name }}</h3>
                    <p class="product-text">{{ product.description }}</p>
                    <i class="fas"></i>
                    <h5>В наличии</h5>
                    <h4 class="price-new"><b class="price-old">500 руб.</b> {{ product.price }}руб. </h4> <!-- этот класс можно вставить в любую строку если хочу перечеркнуть надпись -->
                    <div class="buttons">
                        <button id="myBtn1" class="product-preview">Быстрый просмотр</button>
                        <button class="product-buttons-wrap" onclick="openNav()">
                            <img src="{{ url_for('static', filename='images/basket.svg') }}">В корзину</button>
                        <button class="product-buttons-wrap1">Купить в 1 клик</button>
                        <button1 class="like">
                            <img src="{{ url_for('static', filename='images/like.svg') }}"></button1>
                    </div>
                </div>
            </a>
            <!-- The Modal -->
            <div id="myModal1" class="modal">
                <span class="close">×</span>
                <!-- Next and previous buttons -->
                <span class="prev" onclick="plusSlides1(-1)">&#10094;</span>
                <span class="next" onclick="plusSlides1(1)">&#10095;</span>
                <!-- Слайд изображений -->
                <div class="mySlides1">
                    <div class="numbertext">1 / 3</div>
                    <img class="modal-content" src="{{ url_for('static', filename='images/torts.jpg') }}">
                </div>
                <div class="mySlides1">
                    <div class="numbertext">2 / 3</div>
                    <img class="modal-content" src="{{ url_for('static', filename='images/torts.jpg') }}">
                </div>
                <div class="mySlides1">
                    <div class="numbertext">3 / 3</div>
                    <img class="modal-content" src="{{ url_for('static', filename='images/torts.jpg') }}">
                </div>
            </div>
            <!-- Боковая панель *купить в 1 клик* -->
            <div id="mySidenav" class="sidenav">
                <span class="closebtn" onclick="closeNav()">×</span>
                <a href="/basket">Посмотреть корзину</a>
                <a href="#">Оформить заказ</a>
                <a href="#" onclick="closeNav()">Продолжить покупки</a>
            </div>
        </li>
    </ul>
{% endfor %}
{% endblock %}