{% extends "base.html" %}
{% block content %}
{% for product in products %}
    <ul class="products_clearfix">
        <li class="product-wrapper">
            <a class="product">
                <div class="product-photo">
                    <img src="{{ url_for('static', filename=product.link_photo) }}" alt="">
                    <button class="like">
                            <img src="{{ url_for('static', filename=product.link_like) }}"></button>
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <i class="fas"></i><h5>В наличии</h5>
                    <h4 class="price-new"> {{ product.price }} руб.</h4> <!-- этот класс можно вставить в любую строку если хочу перечеркнуть надпись -->
                    <div>
                        <button id="Btn" class="product-preview">Быстрый просмотр</button>
                        <button class="product-buttons-wrap" onclick="openNav()">
                            <img src="{{ url_for('static', filename=product.link_basket) }}">В корзину</button>
                        <button class="product-buttons-wrap1">Купить в 1 клик</button>
                    </div>
                </div>
            </a>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Слайд изображений -->
                <div class="Slides">
                    <a class="numbertext">1 / 3</a>
                    <img class="modal-content" src="{{ url_for('static', filename=product.link_photo) }}">
                </div>
                <div class="Slides">
                    <a class="numbertext" >2 / 3</a>
                    <img class="modal-content" src="{{ url_for('static', filename=product.link_photo) }}">
                </div>
                <div class="Slides">
                    <a class="numbertext">3 / 3</a>
                    <img class="modal-content" src="{{ url_for('static', filename=product.link_photo) }}">
                </div>
                <span class="close">×</span>
<!--                &lt;!&ndash; Next and previous buttons &ndash;&gt;-->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <!-- Боковая панель *купить в 1 клик* -->
<!--            <div id="mySidenav1" class="sidenav">-->
<!--                <span class="closebtn" onclick="closeNav()">×</span>-->
<!--                <a href="/basket">Посмотреть корзину</a>-->
<!--                <a href="#">Оформить заказ</a>-->
<!--                <a href="#" onclick="closeNav()">Продолжить покупки</a>-->
<!--            </div>-->
        </li>
    </ul>
{% endfor %}
{% endblock %}