/* Имена элементов через запятую предписывают свойствам обращаться сразу и к body, и к h1. */
/* margin: вверх право низ лево */
body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply;
    margin: 10px;
}

/* верхняя часть сайта */

/* стиль фона страницы 500.html */
.errors500 {
    /*background: linear-gradient #989898;*/
    /*background-blend-mode: multiply;*/
    margin: 350px;
}

/* стиль фона страницы contact.html */

.contacts {
    /*background: linear-gradient #989898;*/
    /*background-blend-mode: multiply;*/
    /*margin: -10%;*/
}

/* Верхняя часть панели с иконками */
.topnav {
    overflow: hidden;
    border-radius: 8px;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply;
}

/* Стили иконок */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover(Изменение цвета при наведении иконок) */
.topnav a:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: black;
}

/* Иконки справа */
.topnav .info {
    color: white;
    float: right;
}

/*{box-sizing: border-box;}*/


.header {
     text-align: center;
     color: black;
     font-family: 'Bradley Hand';
     border-radius: 8px;
     background-size: cover;
     background-position: center bottom;
     padding-top: 20px;
}

h1 {
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    width: 630px;
    margin: 30px auto 0;
}

/* конец верхней части */

/* основной блок для ячеек с фото, именем и описанием */
.content {
    margin: 80px 30px 30px;
}

/* наименование товара, описания его и блок для ячеек */
.rules {
    margin: 35px;
}

.rules h3 {
    font-size: 35px;
    font-family: 'Marker Felt';
    font-weight: bold;
    margin: 30px 60px 30px 0;
    /*text-shadow: 4px 4px 5px #708090;*/
    transform: translate(10%);
}

.rules p {
    font-family: 'Trattatello';
    font-size: 30px;
    color: #800000;
    margin-left: 15px;
    line-height: 30px;
    margin-bottom: 90px;
    opacity: 1;
    /*text-shadow: 4px 4px 5px #93a5cf;*/
}

/* конец */

/*<! -- отдельный блок по продуктам -- >*/
.torts {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*<! -- конец блока по тортам -->*/

/*<! -- отдельный блок по категориям на основной странице -->.*/
/* карточка торты */
.module-card {
    width: 420px;
    margin-right: 68px;
    display: inline-block;
    vertical-align: top;
    padding: 45px 80px 0 75px;
}

/*<! -- разная инфа о сайте и прочее -->*/
.footer {
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}

.gorod {
    font-size: 17px;
    float: right;
    margin: 0 60px 0 0;
}

.contacts {
    font-size: 19px;
    float: right;
    margin: 0 -60px 0 0;
    line-height: 70px;
}

.regim {
    font-size: 15px;
    float: right;
    margin: 0 -130px 0 0;
    line-height: 115px;
}

.logo {
  width: 148;
  height: 38;
  background-image:
  url();
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-color: #7FFF00;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }


.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #FF0000;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}